* {
  background-color: rgb(6, 20, 0);
}

div.app {
  max-width: fit-content;
  margin-inline: auto;
}

.app {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: rgb(6, 20, 0);
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 70px;
  height: 70px;
  transition: transform 1.8s ease, opacity 1.8s ease;

}

h1 {
  color: #22b936 !important;
  font-size: 28px;
  padding: 20px;
  margin-bottom: -100px;
}

h2 {
  color: white;
  font-size: 120px;
  padding-left: 35px;
}

div.score-board {
  color: white;
  font-size: 20px;
  text-align: center;

}
